<p-toast />

<div class="w-full surface-card py-4 px-5 sm:px-8 border-round">
  <div class="mb-5">
    <div class="text-900 text-3xl font-bold mb-3">Esqueci minha senha</div>
  </div>

  <div class="flex flex-column gap-3">
    <div class="flex flex-col flex-wrap gap-2">
      <label for="email">E-mail</label>

      <input
        [formControl]="email"
        pInputText
        id="email"
        type="text"
        fluid="true"
        aria-errormessage="email-hint-error"
      />

      @if (email.invalid && (email.dirty || email.touched)) {
      <small id="email-hint-error" class="text-red-500 block">{{
        getErrorMessage()
      }}</small>
      }
    </div>

    <p-button
      label="Enviar e-mail"
      fluid="true"
      [disabled]="this.email.invalid"
      (onClick)="onSubmit()"
    />

    <p-button
      label="Voltar"
      fluid="true"
      variant="outlined"
      severity="secondary"
      (onClick)="comeBack()"
    />
  </div>
</div>
