<p-toast />

<div class="w-full surface-card py-4 px-5 sm:px-8 border-round">
  <div class="mb-5">
    <div class="text-900 text-3xl font-bold mb-3">Redefinição de senha</div>
  </div>

  <div class="flex flex-column gap-3">
    <div class="flex flex-column flex-wrap gap-2">
      <label for="email">Senha</label>

      <p-password
        [formControl]="password"
        id="password"
        fluid="true"
        [feedback]="false"
        [toggleMask]="true"
        aria-errormessage="password-hint-error"
      />

      @if (password.invalid && (password.dirty || password.touched)) {
      <small id="password-hint-error" class="text-red-500 block">{{
        getErrorMessage()
      }}</small>
      }
    </div>

    <p-button
      label="Redefinir senha"
      fluid="true"
      [loading]="loadingService.loading()"
      [disabled]="this.password.invalid"
      (onClick)="onSubmit()"
    />
  </div>
</div>
